/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header .navbar-brand{
	font-size: 30px;
	text-transform: uppercase;
}

header .nav-item{
	text-transform: uppercase;
	margin-left: 50px;
}

header .nav-item a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: #ccc;
	height: 1px;
	transform: scale(0);
	transition: all .3s;
}

header .nav-item a:hover::after{
	transform: scale(1);
}

body{
	min-width: 320px;
}

#container {
  margin: 20px auto;
  padding-left: 40px;
}

.navigation-links {
  float: right;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}