.row.justify-content-center
  = simple_form_for(@deck, defaults: { required: false }) do |f|
    .field.text-center
      = f.input :name, label: false
      = f.input :current
      %br= f.submit t('card.button.save'), class: "btn btn-primary"
